/* 
Colours:
1. #E1D5E8
2. #846B8A
3. #C5C392
4. #07090F
5. #1E000E

*/

body {
    background-color: #dad5e8;
    overflow-x: hidden;
    margin: 0;
}

.sectionWrapper {
    display: flex;
    width: 200vw;
    transition: transform 1s ease-in-out;
}

section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 30px 150px 30px 150px;
}

.arrow-button {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: #846B8A;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.arrow-button.left {
    left: 20px;
}

.arrow-button.right {
    right: 20px;
}

.side {
    margin-left: 65%;
    margin-right: 10%;
    text-align: right;
}

@font-face {
    font-family: Amenti;
    src: url('Amenti-Font/Amenti Regular.ttf');
    color: #07090F;
}

.card {
    margin: 5px;
    padding: 10px;
    padding-bottom: 50px;
    /* border-style: solid; */
    /* border-color: #6f6687; */
    /* border-width: 3px; */
    border-radius: 15px;
    font-family: Amenti;
    box-shadow: 0 0 10px #7c7481;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.text {
    margin-left: 150px;
    border-left: 4px solid #3c303f;
    padding-left: 15px;
}

.big {
    font-size: large;
}

.small {
    font-size: small;
}

.e {
    margin-left: 80%;
}

.pop {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    background-color: #c2c1a8;
    border-radius: 5px;
    padding: 3px;
    font-size: x-large;
    margin-left: 20px;
}

.pop:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #846B8A(0, 0, 0, 0.5);
    background-color: #C5C392;
    border-radius: 5px;
    padding: 3px;
}

h1 {
    font-size: 28px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 30px;
}

h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: #846B8A;
}

.title {
    margin-left: 10px;
}