/* 
Colours:
1. #E1D5E8
2. #846B8A
3. #C5C392
4. #07090F
5. #1E000E

*/

body {
    background-color: #dad5e9;
    overflow-x: hidden;
    margin: 0;
}

.sectionWrapper {
    display: flex;
    width: 500vw;
    transition: transform 1s ease-in-out;
}

section {
    width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 30px 150px 30px 150px;
}

.arrow-button {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: #846B8A;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.arrow-button.left {
    left: 20px;
}

.arrow-button.right {
    right: 20px;
}

.side {
    margin-left: 65%;
    margin-right: 10%;
    text-align: right;
}

@font-face {
    font-family: Amenti;
    src: url('Amenti-Font/Amenti Regular.ttf');
    color: #07090F;
}

.card {
    margin: 5px;
    padding: 10px;
    padding-bottom: 50px;
    /* border-style: solid; */
    /* border-color: #6f6687; */
    /* border-width: 3px; */
    border-radius: 15px;
    font-family: Amenti;
    box-shadow: 0 0 10px #7c7481;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.text {
    margin-left: 150px;
    border-left: 4px solid #3c303f;
    padding-left: 15px;
    margin-right: 100px;
}

.text2 {
    border-left: 4px solid #3c303f;
    padding-left: 50px;
}

.big {
    font-size: large;
}

.small {
    font-size: small;
}

.e {
    margin-left: 80%;
}

.pop {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    background-color: #c2c1a8;
    border-radius: 5px;
    padding: 3px;
    font-size: x-large;
    margin-left: 20px;
}

.pop:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #846B8A(0, 0, 0, 0.5);
    background-color: #C5C392;
    border-radius: 5px;
    padding: 3px;
}

.popsmall {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    background-color: #c2c1a8;
    border-radius: 5px;
    padding: 3px;
    font-size: larger;
    margin-left: 20px;
}

.popsmall:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #846B8A(0, 0, 0, 0.5);
    background-color: #C5C392;
    border-radius: 5px;
    padding: 3px;
}

h1 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 30px;
}

h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: #846B8A;
}

h2 {
    font-size: 23px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 30px;
    margin-left: 0px;
}

.title {
    margin-left: 10px;
}

.sample {
    background-color: #b1acb4;
    padding: 15px;
    border-radius: 5px;
    border-color: #3c303f;
    border-style: solid;
}

.important {
    background-color: #ebe9b3;
    padding: 10px;
    border-radius: 3px;
    border-color: #bfa8c5;
}

.warning {
    background-color: rgb(208, 141, 128);
    padding: 10px;
    border-radius: 3px;
    border-color: #bfa8c5;
}

.selection {
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
    border-color: #846B8A;
    margin-left: 30px;
    margin-right: 30px;
}

option {
    font-family: Amenti;
}

select {
    font-family: Amenti;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.solution-viewer {
    flex: 1;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
    border-color: #846B8A;
    overflow: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

textarea {
    flex: 1;
    width: 100%;
    font-family: monospace;
    font-size: 14px;
}

#javaEditor {
    height: 300px;
    border: 1px solid #ccc;
    font-size: 14px;
}